In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("auto-mpg.csv")

In [3]:
data.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
168,23.0,4,140.0,83,2639,17.0,75,1,ford pinto
42,12.0,8,383.0,180,4955,11.5,71,1,dodge monaco (sw)
358,31.6,4,120.0,74,2635,18.3,81,3,mazda 626
56,26.0,4,91.0,70,1955,20.5,71,1,plymouth cricket
159,14.0,8,351.0,148,4657,13.5,75,1,ford ltd

In [4]:
data.drop("car name",axis=1,inplace=True)

In [5]:
data.tail(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
396,28.0,4,120.0,79,2625,18.6,82,1
397,31.0,4,119.0,82,2720,19.4,82,1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(3), int64(4), object(1)
memory usage: 25.0+ KB

In [7]:
data[data["horsepower"]=="?"]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
32,25.0,4,98.0,?,2046,19.0,71,1
126,21.0,6,200.0,?,2875,17.0,74,1
330,40.9,4,85.0,?,1835,17.3,80,2
336,23.6,4,140.0,?,2905,14.3,80,1
354,34.5,4,100.0,?,2320,15.8,81,2
374,23.0,4,151.0,?,3035,20.5,82,1

In [8]:
data = data.replace("?",np.nan)

In [9]:
data["horsepower"] = data["horsepower"].fillna(data["horsepower"].median())

In [10]:
data["horsepower"] = data.horsepower.astype("int64")

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 25.0 KB

In [12]:
X = data.drop("origin",axis=1)
y = data["origin"]

In [13]:
X.head(5)

    mpg  cylinders  displacement  horsepower  weight  acceleration  model year
0  18.0          8         307.0         130    3504          12.0          70
1  15.0          8         350.0         165    3693          11.5          70
2  18.0          8         318.0         150    3436          11.0          70
3  16.0          8         304.0         150    3433          12.0          70
4  17.0          8         302.0         140    3449          10.5          70

In [14]:
y.sample(5)

342    1
261    1
334    3
112    1
315    1
Name: origin, dtype: int64

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=99)

In [25]:
Random_classifier = RandomForestClassifier(n_estimators=3,oob_score=True)

In [26]:
Random_classifier.fit(X_train,y_train)

D:\Python_3.9.9\lib\site-packages\sklearn\ensemble\_forest.py:541: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
D:\Python_3.9.9\lib\site-packages\sklearn\ensemble\_forest.py:545: RuntimeWarning: invalid value encountered in true_divide
  decision = (predictions[k] /

RandomForestClassifier(n_estimators=3, oob_score=True)

In [27]:
pred = Random_classifier.predict(X_test)

In [28]:
pred

array([3, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 2, 1, 2, 1, 1,
       3, 1, 2, 1, 1, 3, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2,
       3, 1, 1, 3, 1, 1, 2, 1, 1, 1, 3, 1, 1, 3, 2, 2, 1, 1, 2, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 1, 3, 1, 3, 1, 1, 3, 1,
       1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 1, 3,
       1, 3, 1, 1, 1, 1, 1, 1, 2, 1], dtype=int64)

In [29]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.7666666666666667